*{
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.header{
	width: 100%;
}

.container{

	width: 1140px;
	margin: 0px auto;
}

.navbar{
	display: flex;
	padding: 24px;
}

.logo{
	flex-basis: 20%;
}

.logo img{

	margin-top: 1px;

}
.menu{
	flex-basis: 60%;
}

.menu ul li{

	list-style: none;
	display: inline-block;
	line-height: 45px;
	margin-right: 20px;


}

.menu ul li a{

	/*text-transform: uppercase;*/
	font-family: 'Poppins', sans-serif;
	color: #000;
	font-weight: 500;


}

.header-btn{

	flex-basis: 20%;
	text-align: right;
}

.header-btn button{
      
    background: #ff6162;
    border: none;
    padding: 10px ;
    color: white;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;

}




.banner{
	width:100%;
	height: 100vh;
}

.content{
	display: flex;
	height: 80vh;
	align-items: center;
}

.banner-left{
	margin-left: 35px;
}

.banner-left h1{
  
	font-family: 'Poppins', sans-serif;
	font-size: 45px;
	color: #292640;
	margin-bottom: 15px;
	/*ine-height: 50px;*/



}
.banner-left p{

	font-family: 'Poppins', sans-serif;
	color: #bab8c2;
	
}
.banner-left a i{

	height: 40px;
    width: 45px;
    /* background-color: black; */
    border-radius: 50px;
    text-align: center;
    line-height: 2.6;
    color: #bab8c2;
    border: 2px solid #bab8c2;
    margin-top: 10px;
	
}


.banner-right{

	margin-right: 60px;
	/*margin-left: 60px;*/  
}


.projects{

	width: 100%;
	text-align: center; 
}

.project-gallery{

	display: flex;
}

.projects h1{

	font-family: 'Poppins', sans-serif;
	font-size: 45px;
	color: #292640;
	margin-bottom: 10px;
	/*ine-height: 50px;*/

}

.projects p{

	margin-bottom: 10px;
	color: #968c94;

}

.category h3 {
	font-family: 'Poppins', sans-serif;
	color: #494d4f;
}

.category {

	margin: 10px;
}

.category img:hover {

	box-shadow: 10px 10px 20px 5px #968c94;
	background-color: 

}



.features{

	width: 100%;
	padding: 80px 0px;
}



.features-content{

	text-align: center;
}

.features-content h2{

	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
	color: #292640;

}


.features-content p{

	margin-bottom: 35px;
	color: #9ea7b1;
}



.features-galary {
	display: flex
}

.item:hover{
	background-color: #292640;
	transition: all 0.5s;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;

}
.item:hover h6{
	color: white;
}

.item{
	background-color: #f5f5f5;
	text-align: center;
	margin: 15px;
	padding: 30px;
	border-radius: 6px;
	
}

.item h6{

	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #292640;
	margin-bottom: 10px;

}

.item p{

	font-family: 'Roboto', sans-serif;
	color: #968c94;

}

.item img{

	border-radius: 50px;
	background-color: #ffffff;
	padding: 10px;
	box-shadow: 5px 10px #f5f5f5;
}

.fotter{
	width: 100%;
	background-color: #292640;

}

.fotter-content{
	text-align: center;
	padding: 40px;
	margin-top: 40px;
}

.fotter-content h1{

    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 60px;
    margin-bottom: 40px;
    margin-top: 40px; 


}



.fotter-btn{

	flex-basis: 20%;
	margin-bottom: 40px;
	
}

.fotter-btn button{
      
    background: #ff6162;
    border: none;
    padding: 30px ;
    color: white;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    border-radius: 6px;

}




